<main>
    <label class="client-name">Email: <label class="client-name" id="name"></label> </label>
   
    
    <section id="container-chat" class="container-chat">

        <div id="chat" class="chat-container"></div>

        <form id="chat-form" class="chat-form">
            <input type="text" name="message" id="message">
            <input type="submit"class="btn btn-send" value="Enviar">
        </form>    
    </section>
    
    <h2 style="color:#fff">Listado Productos( a modo informativo, sin logica asignada)</h2>
    <section id="container-products" class="container-products">
    
    </section>
 

</main>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>