<form action="/api/sessions/restaurar" method="post">
    Email: <input type="email" name="email" id="email">
    <br>
     Nueva Clave: <input type="password" name="password" id="password">
    <br>
    <input type="submit" value="Restaurar">
</form>
